<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.gromitski.clean-housekeeping</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>65B203E0-5EE3-42D0-9B2D-318FA29555C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A180E278-D12E-4DE7-B3C5-E04E5F5A4D02</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Stu Collett</string>
	<key>description</key>
	<string>Organize screenshots and downloads instantly</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Clean Mac Housekeeping</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>clean</string>
				<key>subtext</key>
				<string>Organize screenshots and downloads instantly</string>
				<key>text</key>
				<string>Clean Mac Housekeeping</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>65B203E0-5EE3-42D0-9B2D-318FA29555C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/Users/gromitski/utilities/scripts/clean --notify</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A180E278-D12E-4DE7-B3C5-E04E5F5A4D02</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Trigger on-demand Mac Housekeeping for Screenshots and Downloads.</string>
	<key>uidata</key>
	<dict>
		<key>65B203E0-5EE3-42D0-9B2D-318FA29555C1</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>A180E278-D12E-4DE7-B3C5-E04E5F5A4D02</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
</dict>
</plist>
